$bg:red;
html{
  font-size: 10px;
}
body{
  background: #ffffff;
  font-size: 10px;

}
.content{
  width: 1200px;
  margin: 0 auto;
}
.video-class{
  background: #000000;
  width: 1200px;
  height:auto;
}
#video-wrap{
  position: relative;
  width: 1200px;
  overflow: hidden;
  margin: 0 auto;
}
.html-wrap{
  display: none;
  position: absolute;
  top: 0;
  left:0;
  bottom: 0;
  right:0;
  background: transparent;
}
.page1{

  position: absolute;
  padding: 4rem;
  z-index:10;
  top:10%;
  left:20%;
  background: #e1e1e1;
  border-radius: 0.8rem;
}
.page1-title{
  color: #3b3b3b;
  font-size: 2rem;
  margin-bottom:1rem;
}
.page1-radio{
  height: 2.4rem;
  margin-right:0.5rem;
  line-height:2.4rem;
  color: #fff;
  font-size: 1.6rem;
  width: 12rem;
  float: left;
  background: #06cc50;
  border-radius: 0.4rem;
}
.page1-radio>input{
  vertical-align: middle;
}
#submit{
  background: #3fcca4;
  border-radius: 0.4rem;
  font-size: 1.6rem;
  width: 10rem;
  border: none;
  color: #ffffff;
  margin-top:1rem;
}